.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.6)), url('../../assets/bg-picture-home.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.6;
    font-size: 18px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.btn {
    font-weight: 500; 
    padding: 12px 24px; 
    border: none;
    background-color: #4A69BB; 
    color: #fff; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #3A4D97;
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15); 
}

.hero-logo {
    margin: 0 auto 30px;
    display: block;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.6));
    animation: glow-only 3s ease-in-out infinite;
    transition: filter 0.3s ease-in-out;
}

.hero-logo:hover {
    filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.9));
}

@keyframes glow-only {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow(0 0 24px rgba(255, 255, 255, 1));
    }
    100% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
}



/* ---------- media query --------- */

@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text p {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
