.contact {
    margin: 80px auto;
    padding: 0 5%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .contact-col {
    flex: 1 1 48%;
    color: #606696;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .contact-col h3 {
    color: #606696;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-col h3 img {
    width: 35px;
    margin-left: 10px;
  }
  
  .contact-col p {
    max-width: 100%;
    line-height: 1.4;
  }
  
  .contact-list {
    padding: 0px;
    margin-top: 20px;
  }
  
  .contact-list li {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    gap: 10px;
  }
  
  .contact-list li img {
    width: 25px;
    flex-shrink: 0;
    margin-top: 4px;
  }
  
  .contact form input,
  .contact form textarea {
    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    resize: none;
    box-sizing: border-box;
  }
  
  .contact-col span {
    display: block;
    margin: 20px 0;
  }
  
  .btn.dark-btn1 {
    background-color: #8d97e3;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(16, 4, 4, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn.dark-btn1:active {
    background-color: #3f4666;
    transform: scale(0.98);
  }
  
  /* Responsive for small screens */
  @media (max-width: 490px) {
    .contact {
      flex-direction: column;
    }
  
    .contact-col {
      flex-basis: 100%;
      padding: 0;
    }
  
    .contact-list {
      flex-direction: column;
      align-items: flex-start;
    }

    .contact-list li {
        margin: 0px;
        padding: 0px
    }
  
    .contact-list li img {
      margin-bottom: 8px;
    }
  }
  